{% load static sekizai_tags %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Machine Learning Project</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/simple-sidebar.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

</head>

<body>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Machine Learning Project</div>
        <div class="list-group list-group-flush">
            <a href="{% url "hotel-list" %}" class="list-group-item list-group-item-action bg-light"><i
                    class="fas fa-list-ul"></i> Home</a>
{#            <a href="{% url "post-list" %}" class="list-group-item list-group-item-action bg-light">Social media#}
{#                (Demo)</a>#}
            {% if request.user.is_superuser %}
                <a href="{% url "admin-portal" %}" class="list-group-item list-group-item-action bg-light"><i
                        class="fas fa-lock"></i> Administration</a>
            {% endif %}

            <a href="{% url "top-hotels" %}" class="list-group-item list-group-item-action bg-light"><i
                    class="fas fa-star"></i> Best Hotels</a>
            <a href="{% url "worse-hotels" %}" class="list-group-item list-group-item-action bg-light">Worse Hotels</a>
            <a href="/admin/" class="list-group-item list-group-item-action bg-light"><i class="fas fa-chevron-left"></i> Backend Site</a>
            {#            <a href="{% url "registration-request" %}" class="list-group-item list-group-item-action bg-light">Registration</a>#}
        </div>
    </div>
    <!-- /#sidebar-wrapper -->


    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    {#                    <li class="nav-item active">#}
                    {#                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>#}
                    {#                    </li>#}
                    {#                    <li class="nav-item">#}
                    {#                        <a class="nav-link" href="#">Link</a>#}
                    {#                    </li>#}
                    {#                    <li class="nav-item dropdown">#}
                    {#                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"#}
                    {#                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
                    {#                            Dropdown#}
                    {#                        </a>#}
                    {#                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">#}
                    {#                            <a class="dropdown-item" href="#">Action</a>#}
                    {#                            <a class="dropdown-item" href="#">Another action</a>#}
                    {#                            <div class="dropdown-divider"></div>#}
                    {#                            <a class="dropdown-item" href="#">Something else here</a>#}
                    {#                        </div>#}
                    {#                    </li>#}
                </ul>
            </div>
        </nav>


        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <strong>{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error{% else %}
                                    {{ message.tags|title }}{% endif %}!</strong> {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        {% block content %}
        {% endblock %}

    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Bootstrap core JavaScript -->
<script src="{% static "vendor/jquery/jquery.min.js" %}"></script>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>

{% render_block 'js' %}

</body>

</html>
